<div class="lightbox-wrapper">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand mb-0"  href="#">
            <figure class="d-inline-block align-center" >
                <img width="60" alt="lightbox logo" src="{{logoImgUrl}}" loading="lazy" />
                <span class="text-white-bold">LightBox</span>
            </figure>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            {% for item in navItems %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{item.href}}"><span class="text-white">{{item.title}}</span></a>
                </li>
            {% endfor %}    
          </ul>
        </div>
        <ul class="navbar-nav d-none d-md-block">
            <li class="nav-item">
                <div class="github-logo-container">
                    <a target="_blank" href="{{repo}}"><img src="{{githubLogo}}" alt="github logo"/></a>
                </div>
            </li>
        </ul>
    </nav>
  
    <div class="container-fluid pr-0 pl-0">
        <section class="grey-white container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h1>{{titleHeadline}}</h1>
                        {% if isWip %}
                        <span class="badge badge-wip badge-pill badge-danger">{{wip}}</span>
                        {% endif %}
                        <div>
                            <p class="h5">{{titleDescription}}</p>
                        </div>
                        <div class="h6">
                            {{secondDescription}}
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="first-section-img-wrapper">
                            <figure>
                                <img alt="{{appScreenShotAlt}}" src="{{appScreenShot}}"/>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container-fluid pr-0 pl-0" id="features">
            <div class="container features">
                <h3 class="h3 text-center">{{features.title}}</h3>
                <div class="row">
                    {% for item in features.items %}
                        <div class="col-sm-4">
                            <div>
                                <div class="card features-card">
                                    <figure>
                                        <img src="{{item.img}}" class="card-img-top" alt="{{item.imgAlt}}">
                                    </figure>
                                    <div class="card-body">
                                        <h5 class="card-title">{{item.title}}</h5>
                                        <p>{{item.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}    
                </div>
                <div class="extra-features text-center">
                    <h5>{{features.extraFeatures.title}}</h5>
                    {% for item in features.extraFeatures.featureProgress %}
                    <div>
                        {% if item.completed %}
                        <input checked type="checkbox" disabled class="form-check-input">
                        {% endif %}
                        {% if item.completed == false %}
                        <input type="checkbox" disabled class="form-check-input">
                        {% endif %}
                        <label class="form-check-label">{{item.title}}</label>
                    </div>
                    {% endfor %}
                    <div class="trello">
                        <a href="{{features.extraFeatures.trello.url}}" target="_blank"><h5>{{features.extraFeatures.trello.title}}</h5></a>
                        <figure>
                            <a href="{{features.extraFeatures.trello.url}}" target="_blank"><img alt="{{features.extraFeatures.trello.alt}}" src="{{features.extraFeatures.trello.icon}}" /></a>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="grey-white container-fluid" id="downloads">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <h3 class="h3">{{downloads.title}}</h3>
                        <div>
                            <p>{{downloads.description}}</p>
                        </div>
                        <div>
                            <p>{{downloads.requirements}}</p>
                        </div>
                        <div>
                            <div class="btn-group btn-outline-primary" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{downloads.title}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                  {% for item in downloads.links %}  
                                    <a class="dropdown-item" href="{{item.link}}">{{item.title}}</a>
                                  {% endfor %}    
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="gif-wrapper">
                            <figure>
                                <img alt="{{appScreenShotAlt}}" src="{{vid1}}"/>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container-fluid" id="apps">
            <div class="container features">
                <h3 class="h3 text-center">{{apps.title}}</h3>
                <div class="row">
                    {% for tool in apps.tools %}
                        <div class="col-sm-4">
                            <div>
                                <div class="card features-card features-card-apps">
                                    {% if tool.img %}
                                    <figure>
                                        <img src="{{tool.img}}" class="card-img-top" alt="{{tool.imgAlt}}">
                                    </figure>
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="h5">{{tool.title}}</h5>
                                        <p>{{tool.description}}</p>
                                        <a href="{{tool.url}}" target="_blank" class="btn btn-outline-primary">Github</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}    
                </div>
            </div>
        </section>

        <footer class="container-fluid light-blue footer" id="footer">
            <section>
                <div class="text-center text-md-left">
                    <div class="row">
                        <div class="col-12 col-sm-2">
                            <figure class="d-inline-block align-center" >
                                <img width="60" alt="lightbox logo" src="{{logoImgUrl}}" loading="lazy" />
                            </figure>
                        </div>
                        <div class="col-12 col-sm-8">
                            <div class="link-container">
                                <div class="link-content">
                                    <h5 class="text-white">{{footer.content}}</h5>
                                    <ul class="text-white">
                                        {% for item in footer.items %}  
                                            <li><a target="_blank" class="text-white" href="{{item.link}}">{{item.title}}</a></li>
                                        {% endfor %}    
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-2">
                            <div class="container">
                                <div class="github-logo-container">
                                    <a target="_blank" href="{{repo}}"><img src="{{githubLogo}}" alt="{{githubLogoAlt}}"/></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="text-center py-3 text-white">{{footer.copyright.caption}}
                <a href="{{repo}}" class="text-white">{{title}}</a>
            </div>
        </footer>
    </div>
</div> 