// Variables

// Breakpoints
$small  :576px;
$medium :768px;
$large  :992px;
$xlarge :1200px;
$xxlarge:1600px;

//-- color variables
$white      : #FFFFFF;
$grey-white : rgb(204, 200, 200);
$light-grey : rgb(226, 230, 240);
$black      : #000000;
$copy-black : #363942;
$blue-light : rgb(74, 104, 150);

//Fonts
$Noto: 'Noto Sans', sans-serif;